/doc
/.zed
/scripts
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.so
config/paper.yaml
config/live.yaml
*.env
/.cache/
/bda
/bdc
/compile_commands.json
/dist